body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #121212;
}

.container {
	width: 100%;
	max-width: 800px;
	padding: 15px;
	margin: 20px auto;
}

.text{
	margin-bottom: 40px;
}

.txt{
	text-decoration:underline;
}

.text span[title] {
	text-decoration: underline;
}

.text span{
	background-color: rgb(242, 234, 234);
}

.text > p:last-of-type {
	color: red;
}

.list{
	margin-bottom: 40px;
}

.list li:nth-child(even) {
	color: rgb(68, 19, 147) ;
}


.table{
	width: 100%;
	margin-bottom: 40px;
}

.table tbody tr:nth-child(even){
background-color: #eee;
}

.label{
	color: rgb(169, 161, 161);
}

.checkbox:checked + .label{
	color: #121212;
}