%title-font{
<<<<<<< HEAD
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   
}
=======
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
}

$title: #363838;
$default: #5a5a5a;
>>>>>>> 9227c7a396d1ef4a00b1068084e1f210f4825693
